Repository InventorsDev/Team-Raspberry, pull requests merged in 2023-08, with the labels that each got.

#12 Create registration and user profile endpoint
  backend/.gitignore
  backend/accounts/__init__.py
  backend/accounts/admin.py
  backend/accounts/apps.py
  backend/accounts/migrations/0001_initial.py
  backend/accounts/migrations/0002_myuser_profile_picture.py
  backend/accounts/migrations/0003_myuser_creator_email_verified.py
  backend/accounts/migrations/0004_myuser_user_type.py
  backend/accounts/migrations/0005_myuser_date_of_birth_myuser_gender.py
  backend/accounts/migrations/__init__.py
  backend/accounts/models.py
  backend/accounts/serializers.py
  backend/accounts/templates/accounts/activated_account.html
  backend/accounts/templates/accounts/activation_notification.html
  backend/accounts/templates/accounts/email_verification.html
  backend/accounts/templates/accounts/subject.txt
  backend/accounts/tests.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/backend/__init__.py
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/backend/views.py
  backend/backend/wsgi.py
  backend/manage.py
  backend/requirements.txt
Labels: backend-project

#19 work on student platform
  src/app/layout.js
Labels: frontend-project

#20 work on admin platform
  public/book-icon.svg
  public/creators-icon.svg
  public/download.svg
  public/increase.svg
  public/line-graph.png
  src/app/admin-add-admin/page.jsx
  src/app/admin-dashboard/page.jsx
  src/app/admin-login/page.jsx
  src/app/admin-manage-course/page.jsx
  src/app/admin-manage-creators/page.jsx
  src/app/bookmark/page.jsx
  src/app/dashboard/page.jsx
  src/app/library/page.jsx
  src/app/profile/page.jsx
  src/components/cards/AdminCourseCard.jsx
  src/components/nav/AdminNav.jsx
  src/components/nav/Navbar.jsx
Labels: frontend-project

#23 interactive quizes and games
  backend/backend/settings.py
  backend/backend/urls.py
  backend/main/__init__.py
  backend/main/admin.py
  backend/main/apps.py
  backend/main/migrations/0001_initial.py
  backend/main/migrations/0002_book_alter_video_video_file.py
  backend/main/migrations/0003_playlist_video_playlist.py
  backend/main/migrations/0004_playlist_creator.py
  backend/main/migrations/0005_rename_creator_playlist_creator_id_and_more.py
  backend/main/migrations/0006_rename_creator_id_playlist_creator_and_more.py
  backend/main/migrations/0007_rename_creator_playlist_creator_id_and_more.py
  backend/main/migrations/__init__.py
  backend/main/models.py
  backend/main/permissions.py
  backend/main/serializers.py
  backend/main/tests.py
  backend/main/urls.py
  backend/main/views.py
  backend/quizapp/__init__.py
  backend/quizapp/admin.py
  backend/quizapp/apps.py
  backend/quizapp/migrations/0001_initial.py
  backend/quizapp/migrations/0002_rename_quiz_quizattempt_quiz_id_and_more.py
  backend/quizapp/migrations/0003_alter_quizattempt_score.py
  backend/quizapp/migrations/__init__.py
  backend/quizapp/models.py
  backend/quizapp/permissions.py
  backend/quizapp/serializers.py
  backend/quizapp/tests.py
  backend/quizapp/urls.py
  backend/quizapp/views.py
Labels: enhancement, backend-project

#24 simplify the signup process
  backend/.gitignore
  backend/accounts/serializers.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/backend/settings.py
Labels: enhancement, backend-project

#25 set upload storage for videos to be google drive
  backend/.gitignore
  backend/backend/settings.py
  backend/main/migrations/0009_alter_video_video_file.py
  backend/main/models.py
  backend/main/permissions.py
  backend/main/views.py
  backend/requirements.txt
Labels: enhancement, backend-project

#27 Update requirements.txt
  backend/requirements.txt
Labels: bug, backend-project
